{% extends "blogs/_base.html" %}
{% load static %}

{% block content %}


<div class="row mt-3 mb-3">
    <div class="mx-auto" style="width: 400px;">
        <span>
            <h2>Египетские Пирамиды</h2>
        </span>
    </div>
</div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'blogs/img/piramidy_slide.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'blogs/img/piramidy_slide2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'blogs/img/piramidy_slide3.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="row mt-4 mb-4">
  <big>
    <strong>Египетские Пирамиды</strong>
    , расположенные недалеко от города Каир, где плодородная долина Нила граничит с раскаленными песками Ливийской пустыни, представляют собой величайшие архитектурные памятники античности. Эти гигантские каменные строения не перестают удивлять своей внушающей благоговение монументальностью. Имеющие правильную пирамидальную форму, они служили гробницами для могущественных фараонов Древнего Египта.
  </big>
</div>
<div class="row mt-4 mb-4">
  <big>
   Почему этим сооружениям придана именно форма многогранника? Как появилась традиция хоронить умерших правителей в таких грандиозных склепах? И под силу ли было людям строительство пирамид – может, за них это сделали таинственные пришельцы с других планет или боги? Однозначных ответов на эти вопросы нет до сих пор. Впечатляет и количество этих памятников, которых на сегодняшний день известно свыше ста. Причем, как считают египтологи, таких некрополей может быть больше, просто не все из них еще открыты.
  </big>
</div>
  <div class="mx-auto mt-4 mb-4" style="width: 400px;">
    <span>
        <h2>Общая информация</h2>
    </span>
  </div>
<div class="row mt-4 mb-5">
  <big>
   Среди Египетских пирамид есть огромные и масштабами поскромнее, с гладкой поверхностью и ступенчатые, сохранившиеся очень хорошо и напоминающие груду развалин. Их можно наблюдать в Саккаре и Мемфисе, Хаваре и Верхнем Египте, Медуме и Абусире, Эль-Лахуне и Абу-Раваше. Однако главными туристическими объектами считаются только некоторые, а именно пирамиды в Гизе, пригороде египетской столицы, возведенные, как принято считать, в эпоху правления IV-VI династий фараонов, которая пришлась на XXVI-XXIII века до н. э.
</div>
  </big>
  <img src="{% static 'blogs/img/piramidy-v-Gize.jpg' %}" class="article_pic" alt="Египетские пирамиды">
<div class="row mt-4 mb-5">
  <big>
     Глядя на эти грандиозные творения рук человеческих, невольно задумываешься: сколько же было затрачено сил и времени на возведение таких сооружений, кажущихся – по крайней мере, в своей масштабности – абсолютно бесполезными. То ли правившие 45 веков назад фараоны тем самым хотели подчеркнуть собственную божественность и величие своей эпохи, то ли в этих сооружениях содержится некий скрытый смысл, нашему пониманию пока недоступный. Но постичь его трудно, ведь секреты надежно укрыты под пластом тысячелетий, и нам не остается ничего другого, как строить догадки и версии, надеясь на то, что рано или поздно всё тайное обязательно станет явным…
  </big>
</div>
<p>
  <img src="{% static 'blogs/img/piramidy_borta.jpg' alt="фотография 1" width="120" height="120" %}">
  <img src="{% static 'blogs/img/podnozhya_piramidy.jpg' alt="фотография 2" width="120" height="120" %}">
</p>
<h3 id="gl1">Тайны египетских пирамид</h3>
<div class="row mt-4 mb-5">
  <big>
    Египетские пирамиды окутаны ореолом мифов и тайн, причем с течением времени и развитием науки вопросов все еще остается больше, чем ответов. Как говорит пословица: «Все на свете боится времени, но само время боится пирамид». Интерес подогревают и различные теории о появлении этих величественных монументов. Любители мистического считают пирамиды мощными энергетическими источниками и полагают, что фараоны проводили в них время не только после смерти, но и при жизни, чтобы черпать силу. Существуют и совсем невероятные идеи: например, некоторые считают, что египетские пирамиды были построены инопланетянами, а другие, что блоки передвигали люди, владеющие магическим кристаллом. Давайте рассмотрим общепринятый и наиболее вероятный вариант развития событий.
  </big>
</div>
<p>
  <img src="{% static 'blogs/img/stroitelstvo.jpg' alt="..." width="120" height="120" %}">
  <img src="{% static 'blogs/img/stroitelstvo_piramidy.jpg' alt="..." width="120" height="120" %}">
</p>
<big class="row mt-4 mb-5">
  Религия в жизни Древнего Египта занимала доминирующее положение. Она формировала и мировоззрение народа, и всю его культуру. Смерть воспринималась всего лишь как переход в другой мир, поэтому подготовка к нему должна была проходить загодя, еще при земной жизни. Однако привилегия оставаться «бессмертным» была, как считалось, только у фараона и членов его семьи. И он на свое усмотрение мог даровать ее и своему окружению. Простолюдины были лишены права на загробную жизнь, за исключением прислуги и рабов, которых могущественный правитель «забирал» с собой. Комфортному «существованию» высокопоставленного покойника ничего не должно было мешать, поэтому его снабжали всем необходимым – запасами еды, домашней утварью, оружием, прислугой.
</big>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="{% url 'first_page' %}">Вернуться назад</a></li>
  </ul>
</nav>


{% endblock content %}